@media screen and (min-width: 920px) {
    .page {
        margin: 0 auto;
        width: 45em;
    }

    nav#main-nav {
        text-align: right;
        width: 75%;
        float: right;
    }

    section[role="main"] {
        clear: both;
        article .body {
            h1, h2, h3, h4, h5, h6, p, ul, ol {
                padding: 0 16px;
            }
        }
    }

    aside {
        float: left;
        width: 15%;

        .widget {
            border: none;
        }
    }
}
