/*
 * Theme Name: Cek's
 * Author: Francesco 'Cek' Ceccon
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.codehilite, .highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Emph */
  /* Generic.Strong */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .codehilite pre, .codehilite code, .highlight pre, .highlight code {
    color: #fcfcfc;
    background-color: #282923; }
  .codehilite .hll, .highlight .hll {
    background-color: #49483e; }
  .codehilite .c, .highlight .c {
    color: #75715e; }
  .codehilite .err, .highlight .err {
    color: #960050;
    background-color: #1e0010; }
  .codehilite .k, .highlight .k {
    color: #66d9ef; }
  .codehilite .l, .highlight .l {
    color: #ae81ff; }
  .codehilite .n, .highlight .n {
    color: #f8f8f2; }
  .codehilite .o, .highlight .o {
    color: #f92672; }
  .codehilite .p, .highlight .p {
    color: #f8f8f2; }
  .codehilite .cm, .highlight .cm {
    color: #75715e; }
  .codehilite .cp, .highlight .cp {
    color: #75715e; }
  .codehilite .c1, .highlight .c1 {
    color: #75715e; }
  .codehilite .cs, .highlight .cs {
    color: #75715e; }
  .codehilite .ge, .highlight .ge {
    font-style: italic; }
  .codehilite .gs, .highlight .gs {
    font-weight: bold; }
  .codehilite .kc, .highlight .kc {
    color: #66d9ef; }
  .codehilite .kd, .highlight .kd {
    color: #66d9ef; }
  .codehilite .kn, .highlight .kn {
    color: #f92672; }
  .codehilite .kp, .highlight .kp {
    color: #66d9ef; }
  .codehilite .kr, .highlight .kr {
    color: #66d9ef; }
  .codehilite .kt, .highlight .kt {
    color: #66d9ef; }
  .codehilite .ld, .highlight .ld {
    color: #e6db74; }
  .codehilite .m, .highlight .m {
    color: #ae81ff; }
  .codehilite .s, .highlight .s {
    color: #e6db74; }
  .codehilite .na, .highlight .na {
    color: #a6e22e; }
  .codehilite .nb, .highlight .nb {
    color: #f8f8f2; }
  .codehilite .nc, .highlight .nc {
    color: #a6e22e; }
  .codehilite .no, .highlight .no {
    color: #66d9ef; }
  .codehilite .nd, .highlight .nd {
    color: #a6e22e; }
  .codehilite .ni, .highlight .ni {
    color: #f8f8f2; }
  .codehilite .ne, .highlight .ne {
    color: #a6e22e; }
  .codehilite .nf, .highlight .nf {
    color: #a6e22e; }
  .codehilite .nl, .highlight .nl {
    color: #f8f8f2; }
  .codehilite .nn, .highlight .nn {
    color: #f8f8f2; }
  .codehilite .nx, .highlight .nx {
    color: #a6e22e; }
  .codehilite .py, .highlight .py {
    color: #f8f8f2; }
  .codehilite .nt, .highlight .nt {
    color: #f92672; }
  .codehilite .nv, .highlight .nv {
    color: #f8f8f2; }
  .codehilite .ow, .highlight .ow {
    color: #f92672; }
  .codehilite .w, .highlight .w {
    color: #f8f8f2; }
  .codehilite .mf, .highlight .mf {
    color: #ae81ff; }
  .codehilite .mh, .highlight .mh {
    color: #ae81ff; }
  .codehilite .mi, .highlight .mi {
    color: #ae81ff; }
  .codehilite .mo, .highlight .mo {
    color: #ae81ff; }
  .codehilite .sb, .highlight .sb {
    color: #e6db74; }
  .codehilite .sc, .highlight .sc {
    color: #e6db74; }
  .codehilite .sd, .highlight .sd {
    color: #e6db74; }
  .codehilite .s2, .highlight .s2 {
    color: #e6db74; }
  .codehilite .se, .highlight .se {
    color: #ae81ff; }
  .codehilite .sh, .highlight .sh {
    color: #e6db74; }
  .codehilite .si, .highlight .si {
    color: #e6db74; }
  .codehilite .sx, .highlight .sx {
    color: #e6db74; }
  .codehilite .sr, .highlight .sr {
    color: #e6db74; }
  .codehilite .s1, .highlight .s1 {
    color: #e6db74; }
  .codehilite .ss, .highlight .ss {
    color: #e6db74; }
  .codehilite .bp, .highlight .bp {
    color: #f8f8f2; }
  .codehilite .vc, .highlight .vc {
    color: #f8f8f2; }
  .codehilite .vg, .highlight .vg {
    color: #f8f8f2; }
  .codehilite .vi, .highlight .vi {
    color: #f8f8f2; }
  .codehilite .il, .highlight .il {
    color: #ae81ff; }

body {
  font-size: 18px;
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: normal;
  color: #262626;
  background: #f7f6ed;
  margin: 0;
  line-height: 1.6; }

a, a:visited {
  color: #1a7cf4;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.2s ease-in 0;
  -o-transition: all 0.2s ease-in 0;
  transition: all 0.2s ease-in 0; }
  a:hover, a:visited:hover {
    text-decoration: none;
    color: #D86563; }

em {
  font-style: italic; }

strong {
  font-weight: normal;
  /* We use an extra light font as main font */ }

.page {
  background: #fcfcfc;
  border: 1px solid #cccccc;
  border-top: 1px solid #f2f2f2;
  margin: 0 3%; }

.clear {
  clear: both; }

header {
  background: #f2f2f2;
  border-bottom: 1px solid #cccccc;
  padding: 2em 0; }
  header hgroup {
    text-align: center; }
    header hgroup img {
      width: 60px; }
  header h1 {
    font-size: 2.0em; }
  header h2 {
    font-size: 1.2em; }

nav#main-nav {
  width: auto;
  text-align: center;
  overflow: hidden; }
  nav#main-nav ul {
    list-style-type: none;
    line-height: 1;
    font-size: .8em; }
    nav#main-nav ul li {
      display: inline-block;
      padding-right: 30px;
      margin: 0 .8em;
      line-height: 24px;
      -moz-transition: all .2s ease-out 0s;
      -webkit-transition: all .2s ease-out 0s; }
      nav#main-nav ul li a {
        -moz-transition: all .2s ease-out 0s;
        -webkit-transition: all .2s ease-out 0s; }
      nav#main-nav ul li:hover a {
        text-decoration: none;
        color: #D86563; }
      nav#main-nav ul li.menu-item-twitter {
        background: url("images/twitter.png") no-repeat right bottom; }
        nav#main-nav ul li.menu-item-twitter:hover {
          background: url("images/twitter.png") no-repeat right top; }
      nav#main-nav ul li.menu-item-archives {
        background: url("images/archives.png") no-repeat right bottom; }
        nav#main-nav ul li.menu-item-archives:hover {
          background: url("images/archives.png") no-repeat right top; }
      nav#main-nav ul li.menu-item-github {
        background: url("images/github.png") no-repeat right bottom; }
        nav#main-nav ul li.menu-item-github:hover {
          background: url("images/github.png") no-repeat right top; }

section[role="main"] article {
  margin-bottom: 1em; }
  section[role="main"] article header {
    background: #fafafa;
    border-bottom: 1px dashed #cccccc;
    margin-bottom: 1em; }
    section[role="main"] article header h1 {
      text-align: center;
      font-size: 2.6em;
      font-family: "minion-pro", serif;
      font-variant: small-caps;
      font-weight: normal;
      line-height: 1.1em;
      margin: 0 .6em; }
  section[role="main"] article .body {
    overflow: hidden; }
    section[role="main"] article .body h1, section[role="main"] article .body h2, section[role="main"] article .body h3, section[role="main"] article .body h4, section[role="main"] article .body h5, section[role="main"] article .body h6, section[role="main"] article .body p, section[role="main"] article .body ul, section[role="main"] article .body ol {
      padding: 0 .6em; }
    section[role="main"] article .body h1, section[role="main"] article .body h2, section[role="main"] article .body h3, section[role="main"] article .body h4, section[role="main"] article .body h5, section[role="main"] article .body h6 {
      color: #1a7cf4;
      margin: .3em 0;
      font-family: "minion-pro", serif;
      font-weight: normal; }
    section[role="main"] article .body h1 {
      font-size: 1.8em; }
    section[role="main"] article .body h2 {
      font-size: 1.6em; }
    section[role="main"] article .body h3 {
      font-size: 1.3em; }
    section[role="main"] article .body p {
      margin: 1em 0; }
    section[role="main"] article .body p code, section[role="main"] article .body li code, section[role="main"] article .body p pre, section[role="main"] article .body li pre {
      color: #262626;
      font-family: "source-code-pro", monospace;
      font-weight: lighter;
      font-size: .8em;
      background: transparent; }
    section[role="main"] article .body pre {
      margin: 1em 0;
      padding: .8em;
      overflow-x: auto;
      font-family: "source-code-pro", monospace;
      font-weight: lighter;
      font-size: .8em; }
    section[role="main"] article .body .highlight {
      background: transparent; }
    section[role="main"] article .body img {
      max-width: 90%;
      border: 1px solid #999999;
      background: #fafafa;
      padding: .1em;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
      display: block;
      margin: 1em auto; }
      section[role="main"] article .body img.aligncenter, section[role="main"] article .body img.alignleft, section[role="main"] article .body img.alignright {
        margin: 1em auto; }
    section[role="main"] article .body ul {
      list-style-type: circle;
      list-style-position: inside; }
    section[role="main"] article .body ol {
      list-style-type: decimal;
      list-style-position: inside; }
  section[role="main"] article footer {
    font-size: .8em;
    margin-top: 1.3em;
    text-align: left;
    padding: 0 16px; }
  section[role="main"] article.format-aside p, section[role="main"] article blockquote {
    border-left: 2px solid #1a7cf4;
    padding-left: .5em;
    margin-left: .5em;
    margin-bottom: 1em; }

nav#prev-next {
  width: 100%; }
  nav#prev-next .previous {
    width: 50%;
    text-align: left;
    float: left;
    display: inline-block; }
  nav#prev-next .next {
    width: 50%;
    text-align: right;
    float: right;
    display: inline-block; }

section p {
  line-height: 1.5; }

/*
 * Sticky Footer
 */
html, body {
  height: 100%; }

#wrap {
  margin: 0 auto -3em;
  min-height: 100%;
  height: 100%;
  height: auto !important; }

#push, #footer {
  height: 3em; }

footer .container {
  color: gray;
  font-weight: lighter;
  padding-top: 1.2em;
  text-align: center; }

/*
 * Search Page
 */
#searchform {
  margin: 2em auto;
  width: 21em;
  display: block; }
  #searchform input {
    font-size: 16px; }
  #searchform input[type="text"] {
    width: 15em;
    padding: .2em .4em;
    border: 1px solid #b3b3b3;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -ms-border-radius: 4px 0px 0px 4px;
    -o-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px; }
  #searchform input[type="submit"] {
    width: 5em;
    padding: .2em .4em;
    border: 1px solid #b3b3b3;
    margin-left: -5px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -ms-border-radius: 0px 4px 4px 0px;
    -o-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px; }

#archive ul, #home ul {
  list-style-type: none;
  margin: 0 1em; }
  #archive ul li, #home ul li {
    margin: .2em 0; }
#archive span.date, #home span.date {
  color: gray;
  font-size: .8em; }

img.wp-smiley {
  padding: 0 !important;
  margin: 0 !important;
  display: inline !important;
  background: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

@media screen and (min-width: 920px) {
  .page {
    margin: 0 auto;
    width: 45em; }

  nav#main-nav {
    text-align: right;
    width: 75%;
    float: right; }

  section[role="main"] {
    clear: both; }
    section[role="main"] article .body h1, section[role="main"] article .body h2, section[role="main"] article .body h3, section[role="main"] article .body h4, section[role="main"] article .body h5, section[role="main"] article .body h6, section[role="main"] article .body p, section[role="main"] article .body ul, section[role="main"] article .body ol {
      padding: 0 16px; }

  aside {
    float: left;
    width: 15%; }
    aside .widget {
      border: none; } }
